{% extends "base.html" %}

{% block content %}
{% if user %}
<form action="/add-message" method="post">
    <textarea placeholder="Enter your message" name="text" rows="5"></textarea>
    <br>

    <button type="submit">Submit</button>
</form>
<hr>
{% for message in messages %}
<p>
    <strong>{{ message.author }}:</strong>
    {{message.text}}
</p>
{% endfor %}
{% else %}
<form method="post" action="/login">
    <input type="text" name="user-username" placeholder="Enter your username">
    <input type="password" name="user-password" placeholder="Enter your password">
    <button type="submit">Submit</button>
</form>
{% endif %}
{% endblock content %}